<h1>New Page</h1>

<% page = @page %>
<%= form_for page do |f| %>
  <% [1, 2].each do |i| %>
    <%= f.label :"side#{i}_name" %>
    <%= f.text_field :"side#{i}_name" %>
  <% end %>
  <%= f.submit 'Create page' %>
<% end %>
